# Vercel
.vercel

# MCP
.mcp.json

# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
.claude
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Bundle analysis
stats.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
